import /tee.rc
import /trustonic.rc

on init
    export LD_LIBRARY_PATH /system/lib:/vendor/lib:/vendor/lib/hw:/system/lib/hw
    setprop ro.vendor.trustonic.ready=true

on early-fs
    start vold
    
on fs
    install_keyring

on post-fs
    start mtk.plpath.utils.link
    
on property:ro.vendor.trustonic.ready=true
    start keymint-trustonic
    
on property:hwservicemanager.ready=true
    write /proc/bootprof "MOBICORE: create /data/vendor/mcRegistry ++ (FBE encrypted)"
    start mobicore
    write /proc/bootprof "MOBICORE: create /data/vendor/mcRegistry -- (FBE encrypted)"
    start gatekeeper-default
    start keymint-trustonic
    start tee-1-1
    
on property:ro.crypto.state=unsupported
    start mobicore
    stop gatekeeper-default
    stop keymint-trustonic
    stop tee-1-1

on property:ro.crypto.state=unencrypted
    stop mobicore
    stop gatekeeper-default
    stop keymint-trustonic
    stop tee-1-1

on property:twrp.decrypt.done=true
    stop mobicore
    stop gatekeeper-default
    stop keymint-trustonic
    stop tee-1-1

on property:crypto.ready=0
    stop mobicore
    stop gatekeeper-default
    stop keymint-trustonic
    stop tee-1-1
    
service mtk.plpath.utils.link /system/bin/mtk_plpath_utils
    class main
    user root
    group root system
    disabled
    oneshot
    seclabel u:r:recovery:s0

service gatekeeper-default /system/bin/android.hardware.gatekeeper-service.trustonic
    interface android.hardware.gatekeeper@1.0::IGatekeeper default
    user root
    group root
    disabled
    seclabel u:r:recovery:s0
    
service keymint-trustonic /system/bin/android.hardware.security.keymint@3.0-service.trustonic
    class early_hal
    interface android.hardware.keymaster@4.0::IKeymasterDevice default
    interface android.hardware.keymaster@4.1::IKeymasterDevice default
    user nobody
    seclabel u:r:recovery:s0
    
service tee-1-1 /system/bin/vendor.trustonic.tee@1.1-service
    user root
    group root
    disabled
    seclabel u:r:recovery:s0
